*{
    padding: 0;
    margin: 0;
    font-family: "MyNewFont";
}
@font-face {
    font-family: 'MyNewFont';   
    src: url('../font/gillsans.ttf');      
}
.container{
    height: 741px;
    /* width: 1000px; */
    width: 100%;
    /* background: green; */
    display: flex;
    margin: 0 auto;
}
.left{
    width: 70%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.right{
    width: 30%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.h1{
    position: relative;
    top: 106px;
    color: white;
    left: 100px;
    font-size: 100px;
    letter-spacing: 6px;
    font-weight: bolder;
}
.right img{
    position: relative;
    top: 121px;
    left: -16px;
}
.top{
    width: 100%;
height: 79px;
/* background: green; */
display: flex;
    position: relative;
}
.top div{
    flex: 1;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.content {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-auto-rows: minmax(100px, 130px);
}
.grid{
    display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.grid img{
    width: 100px;
}
.grid .num{
    color: white;
position: relative;
bottom: -44px;
right: 20px;
/* font-size: 17px; */
}
.grid:hover{
    background: green;
}
.img{
    width: 400px;
height: 400px;
}
.img img{
    width: 400px;
}
.img2{
    position: absolute;
bottom: 25px;
left: 25px;
}
.img2 img{
    width: 77px;
}